@import url("https://fonts.cdnfonts.com/roboto-mono");

body{
    background-color: rgb(9, 9, 62);
    color: white;
    text-align: center;

}

.parametro{
    background-color: #023b7c;
    border: 2px solid #0075FF;
    border-radius: 2px solid #0075ff;
    }